*{
    margin: 0;
    padding: 0;
}
.heander{
    width: 100%;
    height: 109px;
    background-color: rgba(255, 255, 255, 0.507);
}
.container{
    padding: 40px 0 0;
}
.logo h1{
    font-size: 30px;
    font-family: "proximanova";
    color: #3c3d42;
}
@font-face{
    font-family:"proximanova";
    src: url(/fonts/proximanova_extrabold.otf);    
}
a{
    margin-right: 33px;
    font-size: 14px;
    font-family:"raleway";
    text-decoration: none;
    color: #2e2d2d;
    font-family: "raleway";
}
@font-face{
    font-family:"raleway";
    src: url(/fonts/Raleway-Regular.ttf);
}
span{
    margin-right: 70px;
    color: #2e2d2d;
    font-family: "raleway";
}
.content{
    background: url(/img/bg\ копия.png);
    height: 732px;
    margin-top: 25px;
    display: block;
    position: absolute;

}
.text{
    margin-top: 182px;
    color: rgb(255, 249, 249);
}

}